%h2= t(:groups_list)

#groups
  - @groups.each do |group|
    .row.group
      .medium-6.large-6.columns
        .row.collapse
          %label
            = link_to group.name, group.full_url, target: :_blank
          .small-10.medium-11.large-11.columns
            %input.full-url-input.left{ type: :text, value: group.full_url, disabled: :disabled }
          .small-2.medium-1.large-1.columns
            %a.copy-to-clipboard.postfix{ role: 'copy-button', title: t('.copy_to_clipboard'), data: { clipboard_text: group.full_url, group_id: group.id }}
              %i.fi-download
      / .small-6.medium-2.large-2.columns
      /   %label
      /     = t(:hit_count_is, hit_count: group.rules.lazy.map(&:hit_count).map(&:to_i).sum)
      .small-6.medium-3.large-3.columns.right
        = link_to group, method: :delete, data: { confirm: t(:confirmation) }, class: [:button, :alert, :small] do
          %i.fi-page-delete
          = t(:destroy)
      .small-6.medium-3.large-3.columns.right
        = link_to edit_group_path(group), class: [:button, :small] do
          %i.fi-page-edit
          = t(:edit)
  .row
    .columns
      = link_to new_group_path, class: [:button, :small, :create_group] do
        %i.fi-plus
        = t(:create_group)
- footer_javascript do
  :coffee
    Ruler.zero_clipboard_init('#{t('.copied_to_clipboard')}')
